*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanbanborad{
   
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.cards{
    border: 1px solid black;
    width: 200px;
    height: 350x;
    border-radius: 10px;
    /* padding: 10px; */
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
background-color: #f0ffff;
display: flex;
flex-direction: column;
gap: 10;
position: relative;

}



.task{
      font-size: 10px;
      border: 1px solid wheat;
      border-radius: 10px;  
      padding: 2px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
}

#add_item-todo{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    outline: none;
    border-radius: 10px;
    border: 2px solid aliceblue;

    /* margin:auto; */
}
.add-item:hover{
    background-color:gray;
    color:white
}

.addTodoDiv{
    position: absolute;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: none;
    

}
.close{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 0.1px solid lightgrey;
}


.green{
    background-color: lightgreen;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
     
}

.orange{
    background-color: orange;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
     
}

.purple{
    background-color: purple;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
     
}

.yellow{
    background-color: yellow;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
     
}

.black{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;

     
}

.colorbtn{
    display: flex;
    gap: 2px;
}

.outl1{
    outline: 1px solid rgb(26, 212, 26);
}
.outl2{outline: 1px solid rgb(235, 235, 8);}
.outl3{outline: 1px solid rgb(233, 162, 28);}
.outl4{outline: 1px solid rgb(1, 4, 1);}
.outl5{outline: 1px solid rgb(189, 25, 189);}


